.cart-item{
    display: flex;
    align-content: center;
    box-shadow: 0px 10px 14px -12px rgba(34, 60, 80, 0.6);
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(243, 245, 247);
}

.cart-item > .imgName > img{
    max-width: 150px;
    width: 100%;
}

.cart-item > .imgName{
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.cart-item > .item-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 3%;
}