.item{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 10px 14px -12px rgba(34, 60, 80, 0.6);
    padding: 5%;
    gap: 5px;
    transition: background-color 0.5s ease, box-shadow 0.3s ease;
}

.item:hover{
    background-color: rgb(240, 238, 238);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.item-line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.item-line1 > .star{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.item-line1 > .star > img{
    max-width: 20px;
}

.item-line2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.item-line2 > button{
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
    outline: none;
    border-radius: 12px;
    background-color: rgb(105, 236, 116);
    border: 2px solid transparent;
    gap: 2px;
    transition: background-color 0.5s ease;

}
.item-line2 > button:hover{
    background-color: rgb(91, 221, 65);
}


.item-line2 > button > img{
    max-width: 12px;
}
