.sort-panel{
    background-color: rgb(255, 255, 255);
    display: flex;
    max-width: 100%;
    max-height: 30px;
    height: 100%;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 20px;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.sort-panel > .sort-left > select{
    padding: 6px; 
}

.sort-panel > .sort-right > select{
    padding: 6px;
    margin-right: 28px;
}

.sort-panel > .sort-right {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap
}

.sort-panel > .sort-right > p{
    margin: 0;
}